.container {
  width: 100%;
  max-width: 1200px;
  padding-inline: var(--space-4);
  margin-inline: auto;
}

@media (width >= 640px) {
  .container {
    padding-inline: var(--space-6);
  }
}

@media (width >= 1024px) {
  .container {
    padding-inline: var(--space-8);
  }
}
